App_WebReferences/ServiceReference1/Posting_1_2_3_4_5_6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:Q2="http://AB/MW/ABSPARK/Channels/Customer/Posting/Services" xmlns:Account="http://AB/MW/ABSPARK/Common/Schemas/L2/Accounts" xmlns:Q1="http://AB/MW/ABSPARK/Common/Schemas/L2/Common" xmlns:Party="http://AB/MW/ABSPARK/Common/Schemas/L2/Party" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://AB/MW/ABSPARK/Channels/Customer/Posting/Services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="Posting_1_2_3.xsd" namespace="http://AB/MW/ABSPARK/Common/Schemas/L2/Party" />
  <xsd:import schemaLocation="Posting_1.xsd" namespace="http://AB/MW/ABSPARK/Common/Schemas/L2/Common" />
  <xsd:element ibmSchExtn:docRoot="true" name="MaintainCustomerDetailRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="Q1:RequestHeaderType" />
        <xsd:element name="MaintainCustomerDetailRq" type="Party:MaintainCustomerDetailRequestType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="MaintainCustomerDetailResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="Q1:ResponseHeaderType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>